* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
}


.re-learn {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: #484A5D;
    font-size: 30px;
    font-weight: 600;
}

.re-learn span {
    color: #EC1600;
}

.main {
    color: #fff;
    background-image: url(../images/background_image_soz3va.png);
    padding: 20px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    /* min-height: 800px; */

}

.about {
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}

.main p img {
    width: 250px;
    margin-top: 20px;

}

.paragraph {
    font-size: 25px;
}

.small {

    padding: 20px 0;
    font-size: 25px;
}

.acti {
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    font-weight: 800;
}

.code, .cod, .co {
    font-size: 20px;
    /* text-align: center; */
    letter-spacing: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.write {
    flex: 1;
    /* border: 1px solid red; */
    max-width: 800px;
    line-height: 25px;
}

.ween {
    margin-bottom: 20px;
}


.write p {
    padding-top: 10px;
}

.footer {
    background-color: #484A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    max-width: 100px;
}

.footer p {
    flex-grow: 1;
    max-width: 230px;
}

@media(max-width:1025px) {
    .flex p {
        padding-left: 20px;
        font-weight: 700;
    }

    p img {
        /* width: 200px; */
    }
}

@media(max-width:550px) {
    .flex {
        padding: 0;
    }

    .flex p {
        font-size: 10px;
    }

}

@media(max-width:420px) {
    p img {
        width: 10px;
    }

    .flex {
        flex-direction: column;
    }
}

@media(max-width:380px) {
    .flex {
        flex-direction: column;
    }

    .flex img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .co, .code, .cod {
        text-align: center;
        color: aqua;
        font-weight: 900;
        letter-spacing: normal;
    }

  main{
      padding: 0;
  }
    .about{
        font-size: 15px;
    }
}

@media(max-width:282px) {
    .flex img {
        width: 140px;
        margin: 0 auto;
    }

    p img {
        width: 50px;
    }

    .about {
        font-size: 35px;
    }
}

@media (max-width:200px) {
    body {
        display: none;
    }
}