*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    border: rgb(255, 11, 11) 2px solid;
    min-height: 100vh;
}


.re-learn {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: #484A5D;
    font-size: 30px;
    font-weight: 600;
}

.re-learn span {
    color: #EC1600;
}

.main {
    color: #fff;
    background-image: url(../images/background_image_soz3va.png);
    /* padding: 20px; */
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-height: 800px;

}
.about{
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}

.main p img{
    width: 200px;
        padding-top: 16px;
        min-width: 100px;
        margin-left: 85px;
}

.paragraph {
    text-align: center;
    padding-top: 50px;
    max-width: 400px;
    font-size: 30px;
    padding-bottom: 20px;
}

.small{
    max-width: 350px;
    font-size: 25px;
    text-align: center;
}

.acti{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    font-weight: 800;
}

.code{

}

/*  */
/*



.span {
    font-weight: 600;
    font-size: 16px;
}


.small {
    font-size: 15px;
}

.about {
    font-size: 30px;
}

.acti {
    color: #000;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: top;
}

.time, .date, .tie {
    padding-top: 10px;
}

.write {
    padding-left: 30px;
    line-height: 25px;
}

.code {
    text-align: center;
    width: 564px;
    padding-bottom: 20px;
}

.cod {
    text-align: center;
    width: 550px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.co {
    text-align: center;
    width: 538px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer {
    background-color: #484A5D;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer img {
    width: 150px;
    margin-left: 40px;
} 

 @media (max-width:505px) {
    .re-learn p {
        font-size: 2.5em;
        max-width: 500px;
    }

}

@media (max-width:350px) {
    .re-learn p {
        font-size: 1.5em;
    }
}

@media (max-width:733px){
    .paragraph{
        min-width: 200px;
    }
} */